<div class="min-h-screen bg-gray-100 py-6 flex flex-col justify-center sm:py-12">
  <div class="relative py-3 sm:max-w-xl sm:mx-auto">
    <div
      class="absolute inset-0 bg-gradient-to-r shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl">
    </div>
    <div class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20">
      <div class="max-w-md mx-auto">

        <div class="grid grid-cols-3 gap-2 ">
          <div>
            <mat-form-field class="w-full">
              <mat-label>Event</mat-label>
              <input matInput value="Disco party!" #message>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="w-full">
              <mat-label>When?</mat-label>
              <input matInput [matDatepicker]="picker" [formControl]="today" #date>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div><button class="w-full py-2 px-4 bg-indigo-500 text-white rounded-lg shadow-md hover:bg-indigo-700 focus:outline-none" (click)="openSnackBar(message.value, date.value)">Show
              snack-bar</button></div>
        </div>

      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>